services:
  fetchmailmgr:
    image: ghcr.io/jeboehm/fetchmailmgr:latest
    build:
      context: .
      cache_from:
        - type=registry,ref=ghcr.io/jeboehm/fetchmailmgr:buildcache
    read_only: true
    ports:
      - 3000:3000
    environment:
      REDIS_URL: redis://redis:6379/0
      DEBUG: 'true'
    volumes:
      - ./src:/app/src:ro
    tmpfs:
      - /run/fetchmailmgr:mode=0755,uid=65534,gid=65534

  redis:
    image: redis:7-alpine@sha256:ee64a64eaab618d88051c3ade8f6352d11531fcf79d9a4818b9b183d8c1d18ba
