name: Test application
on:
  pull_request:
concurrency:
  group: "test-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  test-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Run lint
        run: npm run lint
      - name: Run tests
        run: npm run test
  test-container-health:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Start compose stack
        run: |
          export BUILDX_BUILDER=${{ steps.buildx.outputs.name }}
          docker compose up --build -d --wait
      - name: Test curl on fetchmailmgr
        run: curl http://localhost:3000/healthz
