name: Test application
on:
  pull_request:
concurrency:
  group: "test-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  test-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Run lint
        run: npm run lint
      - name: Run tests
        run: npm run test
  test-container-health:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Start compose stack
        run: |
          export BUILDX_BUILDER=${{ steps.buildx.outputs.name }}
          docker compose up --build -d --wait
      - name: Test curl on fetchmailmgr
        run: curl http://localhost:3000/healthz
